:root{
    background-color: teal;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}

.btn{
    padding: 1rem;
    width: 70px;
    text-align: center;
    background-color: orange;
    color: black;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid black;
    font-weight: bold;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 whitesmoke;
    transform: translateY(-1px);
}

.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: 0.1rem solid black;
    background-color: orange;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 whitesmoke;
    transform: translateY(-1px);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 2rem 1rem;
    background-color: black;
    color: whitesmoke;
    
}

.choice-text{
    padding: 1.5rem;
}

